<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>Update</title>
</head>
<body class="container mt-4">
<h3 class="text-warning mb-4">Update Category</h3>

<a th:href="@{/songs}" class="btn btn-secondary mb-3">Back to customer list</a>

<div class="card p-4 shadow-sm">
  <form th:action="@{/songs/{id}/update(id=${id})}" th:object="${songRequestDto}" method="post">
    <input type="hidden" th:value="${id}"/>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" th:field="*{name}" id="name" class="form-control"/>
      <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>

    </div>
    <div class="mb-3">
      <label for="artist" class="form-label">Artist</label>
      <input type="text" th:field="*{artist}" id="artist" class="form-control"/>
      <small th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></small>

    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" th:field="*{category}" id="category" class="form-control"/>
      <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></small>

    </div>
    <div class="mb-3">
      <label for="filePath" class="form-label">File Path</label>
      <input type="text" th:field="*{filePath}" id="filePath" class="form-control"/>
      <small th:if="${#fields.hasErrors('filePath')}" th:errors="*{filePath}"></small>

    </div>
    <button type="submit" class="btn btn-warning">Update</button>
  </form>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>
