<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Create</title>
</head>
<body class="container mt-4">
<h3 class="text-primary mb-4">Add Blog</h3>

<a th:href="@{/books}" class="btn btn-secondary mb-3">Back to blog list</a>

<div class="card p-4 shadow-sm">
    <form th:action="@{/books/save}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label for="title" class="form-label">Name</label>
            <input type="text" th:field="*{name}" id="title" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="summary" class="form-label">Detail</label>
            <input type="text" th:field="*{detail}" id="summary" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Quantity</label>
            <input type="text" th:field="*{quantity}" id="content" class="form-control" required/>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>
