<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>Update</title>
</head>
<body class="container mt-4">
<h3 class="text-warning mb-4">Update Blog</h3>

<a th:href="@{/blogs}" class="btn btn-secondary mb-3">Back to blog list</a>

<div class="card p-4 shadow-sm">
  <form th:action="@{/blogs/update}" th:object="${blog}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" th:field="*{title}" id="title" class="form-control" required/>
    </div>

    <div class="mb-3">
      <label for="summary" class="form-label">Summary</label>
      <input type="text" th:field="*{summary}" id="summary" class="form-control" required/>
    </div>

    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <input type="text" th:field="*{content}" id="content" class="form-control"/>
    </div>

    <div class="mb-3">
      <label for="createdAt" class="form-label">Created At</label>
      <input type="date"
             name="createdAt"
             th:value="${#temporals.format(blog.createdAt, 'yyyy-MM-dd')}"
             id="createdAt"
             class="form-control"/>

    </div>

    <div class="mb-3">
      <label for="user" class="form-label">Author</label>
      <select th:field="*{user}" id="user" class="form-select">
        <option value="" disabled selected>--Select Author--</option>
        <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.username}"></option>
      </select>
    </div>

    <button type="submit" class="btn btn-warning">Update</button>
  </form>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>
